{%- assign announcements = section.blocks | where: 'type', 'announcement' -%}
{%- if announcements.size > 0 -%}
{%- assign href = 'marquee.css' | asset_url -%}

    {%- for block in announcements -%}
    {%- capture announcement -%}
        {{ announcement }}
        <div class="marquee_content_item">
            {% comment %} {%- if block.settings.icon != blank -%}
            <img class="lazyload" 
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-srcset="{{ block.settings.icon | image_url: width: 28 }} 1x, {{ block.settings.icon | image_url: width: 56 }} 2x"
                alt="{{ block.settings.icon.alt }}"
            >
            {%- endif -%} {% endcomment %}

            {%- if block.settings.icon != blank -%}
                <img class="lazyload" src="{{ block.settings.icon | image_url }}" alt="{{ block.settings.icon.alt }}">
            {%- endif -%}
            
            <h4>{{ block.settings.text }}</h4>
        </div>
    {%- endcapture -%}    
    {%- endfor -%}

    <style>
        :root .section-{{section.id}}.color-custom {
            --theme-color:{{ section.settings.section_text_color_scheme }};
            --theme-background:{{ section.settings.section_background_color_scheme }};
        }
    </style>
    <div class="marquee section-{{section.id}} color-{{ section.settings.color_scheme }} bg-blackesh-100">
        <div class="marquee__content">
            {{ announcement }}
            {%- if announcements.size < 4 -%}
            {{ announcement }}
            {%- endif -%}
        </div>
        {%- if announcements.size < 12 -%}
            <div class="marquee__content">
                {{ announcement }}
                {%- if announcements.size < 4 -%}
                    {{ announcement }}
                {%- endif -%}
            </div>
        {%- endif -%}
    </div>
{%- endif -%}

{% schema %}
{
    "name": "Featured Announcement",
    "blocks": [
        {
            "name": "Announcement",
            "type": "announcement",
            "settings": [
                {
                    "type": "text",
                    "id": "text",
                    "label": "Text"
                },
                {
                    "type": "image_picker",
                    "id": "icon",
                    "label": "Icon"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Featured Announcement"
        }
    ]    
}
{% endschema %}